/*==============================================================
# Form Field
==============================================================*/
.form-field {
    position: relative;
    width: 100%;
    
    display: flex;
    align-items: center;
}
.form-field.input-error .form-field-input, 
.form-field.input-error .form-field-textarea {
    border: 1px solid var(--miller-red) !important;
}
.form-field.input-error .form-field-input:focus,
.form-field.input-error .form-field-textarea:focus {
    box-shadow: 0px 1px 3px var(--miller-red) !important;
}

.form-field-input,
.form-field-textarea {
    border: 1px solid #c9c9c9;
    padding: 24px 10px 6px 10px;
    height: 18px;
    color: var(--miller-black);
    outline: none;
    transition: all 125ms cubic-bezier(.4, 0, .2, 1);
    font-size: 15px;
    display: flex;
    flex: 1;
}

.form-field select {
    padding: 36px 10px 12px 10px;
}

.form-field-textarea {
    resize: vertical;
    min-height: 18px;
    height: 38px;
}

.form-field-title,
.form-field-textarea-title {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    font-size: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    transition: all 125ms cubic-bezier(.4, 0, .2, 1);
}

.form-field:focus-within .form-field-title,
.form-field.text-within .form-field-title {
    font-size: 13px;
    top: 28%;
}
.form-field-input:hover,
.form-field-textarea:hover {
    border: 1px solid #a0a0a0;
}

.form-field-textarea-title {
    font-size: 13px;
    top: 15px;
}

.form-field-input:focus,
.form-field-textarea:focus {
    border: 1px solid #747474;
    box-shadow: 0px 1px 3px #aaa;
}

.form-error-text {
    font-size: 13px;
    align-self: right;
    color: var(--miller-red);
    font-weight: 500;
    height: 15px;
}