.form-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

@media (min-width: 500px) {
    .form-content {
        background-color: #fafafa;
    }
}

/*==============================================================
# Login page
==============================================================*/
.login-area {
    border-radius: 10px;
    background-color: var(--miller-white);
    border: none;
    max-width: 500px;
    width: 100%;
}

@media (min-width: 500px) {
    .login-area {
        border: 2px solid #f5f5f5;
    }
}

.login-page-title {
    margin: 30px 0px;
    padding: 0px 10px;
    font-size: 32px;
    text-align: center;
}

.login-page-subtitle {
    font-size: 1rem;
    padding: 0px 10px 20px 10px;
    text-align: center;
    color: #666;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 20px 20px;
}

.login-actions {
    display: grid;
    font-size: 15px;
    gap: 20px;
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
    align-items: center;
}

@media (min-width: 500px) {
    .login-actions {
        grid-template-columns: auto 1fr;
    }
}

.form-action-row {
    display: block;
}

/*==============================================================
# User details page
==============================================================*/
.user-layout {
    display: grid;
    grid-template-columns: auto 1fr;
}

.user-drawer-menu {
    background: var(--miller-dark-grey);
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-nav {
    display: flex;
    flex-direction: column;
}

.user-nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 9;
    position: sticky;
}

.user-nav-item {
    font-size: 20px;
}

.user-nav-item a {
    padding: 6px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--miller-white);
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
}

.user-nav-item a:hover,
.user-nav-item a.active {
    background-color: rgb(109, 109, 109);
    color: var(--miller-white);
}

.user-content {
    padding: 20px;
    background-color: #fafafa;
    overflow-y: auto;
    height: 100%;
}

.admin-header {
    background-color: var(--miller-dark-grey);
    top: var(--header-height);
    /* z-index: 9;
    position: sticky; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-header-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-header-item:first-child {
    margin-left: 50px;
}

.admin-header-right {
    display: flex;
    align-items: center;
}

.admin-button,
.admin-icon-button {
    padding: 10px 20px;
    border: none;
    background-color: var(--miller-dark-grey);
    color: white;
    cursor: pointer;
    border-radius: 0;
    font-size: 1.1rem;
    display: block;
}

.admin-icon-button {
    padding: 10px;
}
.admin-icon-button i{
    height: 10px;
    width: 20px
}

.admin-button:hover,
.admin-icon-button:hover {
    background-color: rgb(109, 109, 109);
}

.admin-button.active {
    background-color: rgb(109, 109, 109);
}

.admin-icon-button.disabled {
    background-color: transparent;
    cursor: not-allowed;
    color: #666;
}

.admin-page-header {
    margin: -20px 0 0 0;
    text-align: center;
}

.admin-actions {
    display: flex;
    justify-content: left;
    gap: 10px;
    margin-left: -5px;
}

.admin-action-button {
    color: var(--miller-black);
    padding: 5px;
    transition: transform 0.3s ease;
}

.admin-action-button.fa-pencil,
.admin-action-button.fa-trash {
    font-size: 1.3em;
}

.admin-action-button.fa-pencil:hover,
.admin-action-button.fa-trash:hover {
    transform: scale(1.25);
}


/* Skeleton Loader */
.skeleton-loader {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skeleton-header,
.skeleton-row {
    background-color: #e0e0e0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.skeleton-header {
    height: 40px;
    width: 100%;
    margin-bottom: 8px;
}

.skeleton-row {
    height: 20px;
    width: 100%;
}

.skeleton-header::before,
.skeleton-row::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    height: 100%;
    width: 150%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
    animation: shimmer 1s infinite;
}

@keyframes shimmer {
    100% {
        left: 150%;
    }
}

.form-row {
    display: flex;
    gap: 20px;
}

.form-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}

.user-form {
    justify-self: center;
    width: 100%;
}

.accessory-form {
    justify-self: center;
    width: 100%;
}

.material-form {
    justify-self: center;
    width: 100%;
}

.cue-form {
    justify-self: center;
    width: 100%;
}

.dialog-header {
    margin: 0;
    font-size: 1.75rem;
    font-weight: bold;
    font-family: system-ui, Helvetica, Arial, sans-serif;
}

.dialog-header2 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    font-family: system-ui, Helvetica, Arial, sans-serif;
}